<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KeywordDrivenFramework">

	<listeners>
		<listener class-name="com.nik.ExtentReportListener.ExtentReportNG" />
	</listeners>


	<test name="Test Cases">
		<classes>
			<class name="com.nik.KeywordDrivenFW.tests.LoginTest"></class>
			

		</classes>
	</test>
</suite>